@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --corDestaque1: #162964;
    --corDestaque2: #1fcf00;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, #091028, #000000);
    color: white;
    line-height: 1.9em;
}

.container {
    min-width: 380px;
    max-width: 800px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 30px;
}

.container-ft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    position: relative;
    margin: auto;
}

.container>.container-ft>.moldura1,
.container>.container-ft>.moldura2,
.container>.container-ft>.Foto_Perfil {
    width: 180px;
    height: 180px;
    position: absolute;
    border-radius: 100%;
    border: 3px solid transparent;
}

.container>.container-ft>.moldura1 {
    animation: rotate 20s infinite linear;
    border-top-color: var(--corDestaque1);
    border-bottom-color: var(--corDestaque1);
}

.container>.container-ft>.moldura2 {
    animation: rotate 20s infinite linear reverse;
    border-right-color: var(--corDestaque2);
    border-left-color: var(--corDestaque2);
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.container>.infos {
    text-transform: uppercase;
    padding: 10px 0px;
    font-family: monospace;
    text-align: center;
}

.container>.infos>h1 {
    font-size: 36px;
}

.container>.infos>p {
    font-size: 14px;
    font-weight: bolder;
}

.container>.infos>.Descrição {
    padding: 15px 0px;
    font-size: 15px;
    text-align: left;
}

.container>.projetos>nav>ol,
.Exercicios>nav>ul {
    list-style: inside;
    list-style-type: circle;
    padding: 10px 0px;
}

.container>.projetos>nav>ol>li,
.Exercicios>nav>ul>li {
    padding: 5px;
    background: linear-gradient(to left, #000352, #000000);
    border-radius: 10px;
    width: 95%;
}

.container>.projetos>nav>ol>li:hover,
.Exercicios>nav>ul>li:hover {
    transform: scale(1.02);
}

.container>.projetos>nav>ol>li:hover,
.container>.projetos>nav>ol>li:hover a,
.Exercicios>nav>ul>li:hover,
.Exercicios>nav>ul>li:hover a,
.container > .Exercicios > h1:hover a{
    color: var(--corDestaque2);
    text-decoration: underline;
}

.container>.projetos>nav>ol>li>a,
.Exercicios>nav>ul>li>a, .container > .Exercicios > h1 > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

mark {
    background-color: transparent;
    color: var(--corDestaque2);
}

.container>.Exercicios>h1 {
    font-size: 25px;
}

bottom{
    display: block;
    width: 200px;
    height: 30px;
    background: linear-gradient(to left, #202021, #000000);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

bottom a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

bottom a:hover{
    color: var(--corDestaque2);
}