@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --corBase: #040813;
    --corDestaque1: #162964;
    --corDestaque2: #00ff1a;
    --corDestaque3: #000;
}

body {
    background: linear-gradient(to bottom, var(--corBase), var(--corDestaque1));
}

.container-ALL {
    margin: 50px auto;
    padding: 10px 20px;
    border-radius: 30px;
}

p{
    line-height: 1.5em;
}

.container-ft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    position: relative;
    margin: auto;
}

.container-ALL>.container-ft>.moldura1,
.container-ALL>.container-ft>.moldura2,
.container-ALL>.container-ft>.Foto_Perfil {
    width: 180px;
    height: 180px;
    position: absolute;
    border-radius: 100%;
    border: 3px solid transparent;
}

.container-ALL>.container-ft>.moldura1 {
    animation: rotate 20s infinite linear;
    border-top-color: var(--corDestaque1);
    border-bottom-color: var(--corDestaque1);
}

.container-ALL>.container-ft>.moldura2 {
    animation: rotate 20s infinite linear reverse;
    border-right-color: var(--corDestaque2);
    border-left-color: var(--corDestaque2);
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.container-ALL>.infos {
    text-transform: uppercase;
    padding: 10px 0px;
    font-family: monospace;
    text-align: center;
}

.container-ALL>.infos>h1 {
    font-size: 36px;
}

.container-ALL>.infos>p {
    font-size: 14px;
    font-weight: bolder;
}

.container-ALL>.infos>.Descrição {
    padding: 15px 0px;
    font-size: 15px;
    text-align: left;
}

.container-ALL > .projetos > .container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    margin: 20px auto;
    border-radius: 20px;
    gap: 20px;
    padding: 10px;
}

.container-ALL > .projetos > .container > a{
    text-decoration: none;
}

.container-ALL > .projetos > .container > a > .item{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--corDestaque1);
}

.container-ALL > .projetos > .container > a > .item:hover{
    background-color: var(--corBase);
}

.container-ALL > .projetos > .container > a > .item > img{
    display: block;
    margin: auto;
    width: 350px;
    height: 280px;
    object-fit: contain;
}

.container-ALL > .projetos > .container > a > .item > p{
    width: 100%;
    text-align: center;
    background-color: var(--corBase);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.container-ALL > .projetos > .container > a > .item:hover > p{
    background-color: var(--corDestaque1);
}

mark {
    background-color: transparent;
    color: var(--corDestaque2);
}